In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
raw_data = pd.read_csv('/Users/andyliu/Downloads/trump_filtered.csv')

In [3]:
raw_data.head()

                  date                                            article
0  2018-01-26 00:00:00  DAVOS, Switzerland (Reuters) - U.S. President ...
1  2017-03-02 00:00:00  China is dismissing unfavorable media reports ...
2  2016-09-08 15:40:02  Nancy Pelosi is getting visions of reclaiming ...
3  2017-01-11 23:10:01  The nonpartisan director of the federal Office...
4  2018-07-12 00:00:00  BRUSSELS (Reuters) - U.S. President Donald Tru...

In [4]:
raw_data['date'] =pd.to_datetime(raw_data.date)
raw_data.head()

                 date                                            article
0 2018-01-26 00:00:00  DAVOS, Switzerland (Reuters) - U.S. President ...
1 2017-03-02 00:00:00  China is dismissing unfavorable media reports ...
2 2016-09-08 15:40:02  Nancy Pelosi is getting visions of reclaiming ...
3 2017-01-11 23:10:01  The nonpartisan director of the federal Office...
4 2018-07-12 00:00:00  BRUSSELS (Reuters) - U.S. President Donald Tru...

In [6]:
raw_data = raw_data.sort_values(by='date')
raw_data.head()

             date                                            article
184817 2016-01-01  HONOLULU (Reuters) - Advancing gun control, cl...
379795 2016-01-01  This was supposed to be an election driven by ...
270652 2016-01-01  Skywriters had a stark message for Republican ...
285197 2016-01-01  Dropping out of a presidential race usually me...
163435 2016-01-01  LOS ANGELES — For big, fun, populist popcorn m...

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer