In [ ]:
'''
Andy Liu, Justin Jiang
Harvey Mudd Math189R Final Project
Textsent_dataprocessing.ipynb - convert raw csv data into usable sentiment data
'''

In [151]:
#import necessary packages
import pandas as pd
import numpy as np
import tensorflow as tf
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [186]:
#load in dataset
doctopics = pd.read_csv('./doc-topics.csv')

In [187]:
#convert dataset to numerical data
doctopics['docname'] = doctopics['docname'].apply(lambda x: int(x.split(':')[-1]))
doctopics['topic'] = doctopics['topic'].apply(lambda x: int(x))
doctopics['proportion'] = doctopics['proportion'].apply(lambda x: float(x))
doctopics.head()

   docname  topic  proportion
0   415615     52    0.518411
1   415615     13    0.314802
2   415615     19    0.112285
3   415615     42    0.054502
4   415616     26    0.772976

In [188]:
#group topic and proportion data under one docname
dt = doctopics.groupby('docname', as_index = False).agg(lambda x: list(x))

In [189]:
dt.head()

,docname,topic,proportion
0,0,"[20, 21, 4, 27]","[0.428868, 0.255242, 0.179695, 0.136195]"
1,1,"[21, 9, 57, 51]","[0.517574, 0.32643, 0.086608, 0.069388]"
2,2,"[3, 10, 28]","[0.782621, 0.139372, 0.078007]"
3,3,"[16, 13, 42, 1, 57]","[0.316416, 0.26513400000000004, 0.201127, 0.12..."
4,4,"[5, 4]","[0.697176, 0.302824]"

In [156]:
analyzer = SentimentIntensityAnalyzer()

In [157]:
#upload articles dataset
articles = pd.read_csv('/Users/andyliu/Downloads/trump_filtered.csv')

In [179]:
#rename headers
article1 = [articles.columns[1]]+list(articles.iloc[:,1])
article0 = [articles.columns[0]]+list(articles.iloc[:,0])
d = {'article':article1, 'date':article0}
trump_filtered = pd.DataFrame(data = d)
trump_filtered.head()

                                             article                 date
0  DAVOS, Switzerland (Reuters) - U.S. President ...  2018-01-26 00:00:00
1  China is dismissing unfavorable media reports ...  2017-03-02 00:00:00
2  Nancy Pelosi is getting visions of reclaiming ...  2016-09-08 15:40:02
3  The nonpartisan director of the federal Office...  2017-01-11 23:10:01
4  BRUSSELS (Reuters) - U.S. President Donald Tru...  2018-07-12 00:00:00

In [181]:
#dt1 = dt.reset_index()
dt.head()

,docname,topic,proportion
0,415615,"[52, 13, 19, 42]","[0.518411, 0.31480199999999997, 0.112285, 0.05..."
1,415616,"[26, 21]","[0.772976, 0.22702399999999998]"
2,415617,"[13, 53, 21, 35, 1, 55]","[0.22442399999999998, 0.223793, 0.215876, 0.16..."
3,415618,"[16, 26, 40, 62]","[0.355883, 0.27968899999999997, 0.214881, 0.14..."
4,415619,"[33, 25, 5, 36, 16, 18, 62]","[0.452193, 0.21314699999999998, 0.124175, 0.10..."

In [182]:
numTopics = 100

def getText(docname):
    '''
    input - docname from a row of dt
    output - text from that row of the other pd
    '''
    text = (articles_2.iloc[docname])['article']
    return(text)
    
def weights(docname, topics, proportions):
    '''
    input - docname, topic, proportion from a row
    output - a dictionary containing all 100 topics as keys and sentiments as values
    '''
    output_dict = {}
    sentiment = analyzer.polarity_scores(getText(docname))
    for i in topics:
        output_dict[i] = sentiment['compound']*proportions[topics.index(i)]
    for n in range(0,numTopics):
        if not n in output_dict:
            output_dict[n] = 0
    return(output_dict)

In [211]:
output_d = {}
dates = []
docname_l = list(dt.docname)
topic_l = list(dt.topic)
proportion_l = list(dt.proportion)

In [212]:
print(len(topic_l))
print(len(trump_filtered.date))

571490
567693

In [213]:
#iterate through dataframe rows, calculate text sentiments of each article, multiply by weights
for i in range(len(trump_filtered.date)):
    try:
        if i%500 == 0:
            print(i)
        dates.append((articles_2.iloc[docname_l[i]])['date'])
        w = weights(docname_l[i], topic_l[i], proportion_l[i])
        for j in range(numTopics):
            try:
                output_d[j].append(w[j])
            except KeyError:
                output_d[j] = [w[j]]
                
    except Exception as e:
        print(e)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500
34000
34500
35000
35500
36000
36500
37000
37500
38000
38500
39000
39500
40000
40500
41000
41500
42000
42500
43000
43500
44000
44500
45000
45500
46000
46500
47000
47500
48000
48500
49000
49500
50000
50500
51000
51500
52000
52500
53000
53500
54000
54500
55000
55500
56000
56500
57000
57500
58000
58500
59000
59500
60000
60500
61000
61500
62000
62500
63000
63500
64000
64500
65000
65500
66000
66500
67000
67500
68000
68500
69000
69500
70000
70500
71000
71500
72000
72500
73000
73500
74000
74500
75000
75500
76000
76500
77000
77500
78000
78500
79000
79500
80000
80500
81000
81500
82000
82500
83000
83500
84000
84500
85000
85500
86000
86500
87000
87500
88000
88500
89000
89500
90000
90500
91000
91500
92000
92500
93000
93500
94000
94500
95000
95500
96000
96500
97000
97500
98000
98500
99000
99500
100000
100500
101000
101500
102000
102500
103000
103500
104000
104500
105000
105500
106000
106500
107000
107500
108000
108500
109000
109500
110000
110500
111000
111500
112000
112500
113000
113500
114000
114500
115000
115500
116000
116500
117000
117500
118000
118500
119000
119500
120000
120500
121000
121500
122000
122500
123000
123500
124000
124500
125000
125500
126000
126500
127000
127500
128000
128500
129000
129500
130000
130500
131000
131500
132000
132500
133000
133500
134000
134500
135000
135500
136000
136500
137000
137500
138000
138500
139000
139500
140000
140500
141000
141500
142000
142500
143000
143500
144000
144500
145000
145500
146000
146500
147000
147500
148000
148500
149000
149500
150000
150500
151000
151500
152000
152500
153000
153500
154000
154500
155000
155500
156000
156500
157000
157500
158000
158500
159000
159500
160000
160500
161000
161500
162000
162500
163000
163500
164000
164500
165000
165500
166000
166500
167000
167500
168000
168500
169000
169500
170000
170500
171000
171500
172000
172500
173000
173500
174000
174500
175000
175500
176000
176500
177000
177500
178000
178500
179000
179500
180000
180500
181000
181500
182000
182500
183000
183500
184000
184500
185000
185500
186000
186500
187000
187500
188000
188500
189000
189500
190000
190500
191000
191500
192000
192500
193000
193500
194000
194500
195000
195500
196000
196500
197000
197500
198000
198500
199000
199500
200000
200500
201000
201500
202000
202500
203000
203500
204000
204500
205000
205500
206000
206500
207000
207500
208000
208500
209000
209500
210000
210500
211000
211500
212000
212500
213000
213500
214000
214500
215000
215500
216000
216500
217000
217500
218000
218500
219000
219500
220000
220500
221000
221500
222000
222500
223000
223500
224000
224500
225000
225500
226000
226500
227000
227500
228000
228500
229000
229500
230000
230500
231000
231500
232000
232500
233000
233500
234000
234500
235000
235500
236000
236500
237000
237500
238000
238500
239000
239500
240000
240500
241000
241500
242000
242500
243000
243500
244000
244500
245000
245500
246000
246500
247000
247500
248000
248500
249000
249500
250000
250500
251000
251500
252000
252500
253000
253500
254000
254500
255000
255500
256000
256500
257000
257500
258000
258500
259000
259500
260000
260500
261000
261500
262000
262500
263000
263500
264000
264500
265000
265500
266000
266500
267000
267500
268000
268500
269000
269500
270000
270500
271000
271500
272000
272500
273000
273500
274000
274500
275000
275500
276000
276500
277000
277500
278000
278500
279000
279500
280000
280500
281000
281500
282000
282500
283000
283500
284000
284500
285000
285500
286000
286500
287000
287500
288000
288500
289000
289500
290000
290500
291000
291500
292000
292500
293000
293500
294000
294500
295000
295500
296000
296500
297000
297500
298000
298500
299000
299500
300000
300500
301000
301500
302000
302500
303000
303500
304000
304500
305000
305500
306000
306500
307000
307500
308000
308500
309000
309500
310000
310500
311000
311500
312000
312500
313000
313500
314000
314500
315000
315500
316000
316500
317000
317500
318000
318500
319000
319500
320000
320500
321000
321500
322000
322500
323000
323500
324000
324500
325000
325500
326000
326500
327000
327500
328000
328500
329000
329500
330000
330500
331000
331500
332000
332500
333000
333500
334000
334500
335000
335500
336000
336500
337000
337500
338000
338500
339000
339500
340000
340500
341000
341500
342000
342500
343000
343500
344000
344500
345000
345500
346000
346500
347000
347500
348000
348500
349000
349500
350000
350500
351000
351500
352000
352500
353000
353500
354000
354500
355000
355500
356000
356500
357000
357500
358000
358500
359000
359500
360000
360500
361000
361500
362000
362500
363000
363500
364000
364500
365000
365500
366000
366500
367000
367500
368000
368500
369000
369500
370000
370500
371000
371500
372000
372500
373000
373500
374000
374500
375000
375500
376000
376500
377000
377500
378000
378500
379000
379500
380000
380500
381000
381500
382000
382500
383000
383500
384000
384500
385000
385500
386000
386500
387000
387500
388000
388500
389000
389500
390000
390500
391000
391500
392000
392500
393000
393500
394000
394500
395000
395500
396000
396500
397000
397500
398000
398500
399000
399500
400000
400500
401000
401500
402000
402500
403000
403500
404000
404500
405000
405500
406000
406500
407000
407500
408000
408500
409000
409500
410000
410500
411000
411500
412000
412500
413000
413500
414000
414500
415000
415500
416000
416500
417000
417500
418000
418500
419000
419500
420000
420500
421000
421500
422000

KeyboardInterrupt:

In [220]:
#add new columns to dataframe
for i in output_d.keys():
    dt[i] = pd.Series(output_d[i])
dt.head()

,docname,topic,proportion,0,1,2,3,4,5,6,...,90,91,92,93,94,95,96,97,98,99
0,0,"[20, 21, 4, 27]","[0.428868, 0.255242, 0.179695, 0.136195]",0.0,0.000000,0.0,0.000000,-0.179407,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,"[21, 9, 57, 51]","[0.517574, 0.32643, 0.086608, 0.069388]",0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,"[3, 10, 28]","[0.782621, 0.139372, 0.078007]",0.0,0.000000,0.0,0.767595,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,"[16, 13, 42, 1, 57]","[0.316416, 0.26513400000000004, 0.201127, 0.12...",0.0,-0.079249,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,"[5, 4]","[0.697176, 0.302824]",0.0,0.000000,0.0,0.000000,0.226179,0.520721,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [240]:
from datetime import datetime, date

In [252]:
#convert to date format
for i in range(len(dates)):
    if isinstance(dates[i], datetime):
        dates[i] = dates[i].date()
    else:
        dates[i] = datetime.strptime(dates[i][:10], '%Y-%m-%d').date()
    #if i%5000 == 0:
        #print(i)

0
5000
10000
15000
20000
25000
30000
35000
40000
45000
50000
55000
60000
65000
70000
75000
80000
85000
90000
95000
100000
105000
110000
115000
120000
125000
130000
135000
140000
145000
150000
155000
160000
165000
170000
175000
180000
185000
190000
195000
200000
205000
210000
215000
220000
225000
230000
235000
240000
245000
250000
255000
260000
265000
270000
275000
280000
285000
290000
295000
300000
305000
310000
315000
320000
325000
330000
335000
340000
345000
350000
355000
360000
365000
370000
375000
380000
385000
390000
395000
400000
405000
410000
415000
420000

In [259]:
dt['date'] = pd.Series(dates)
dt.head()

,docname,topic,proportion,0,1,2,3,4,5,6,...,91,92,93,94,95,96,97,98,99,date
0,0,"[20, 21, 4, 27]","[0.428868, 0.255242, 0.179695, 0.136195]",0.0,0.000000,0.0,0.000000,-0.179407,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-03-02
1,1,"[21, 9, 57, 51]","[0.517574, 0.32643, 0.086608, 0.069388]",0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-09-08
2,2,"[3, 10, 28]","[0.782621, 0.139372, 0.078007]",0.0,0.000000,0.0,0.767595,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-11
3,3,"[16, 13, 42, 1, 57]","[0.316416, 0.26513400000000004, 0.201127, 0.12...",0.0,-0.079249,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-07-12
4,4,"[5, 4]","[0.697176, 0.302824]",0.0,0.000000,0.0,0.000000,0.226179,0.520721,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-05-21

In [260]:
dt1 = dt.copy(deep=True)
dt1.head()

,docname,topic,proportion,0,1,2,3,4,5,6,...,91,92,93,94,95,96,97,98,99,date
0,0,"[20, 21, 4, 27]","[0.428868, 0.255242, 0.179695, 0.136195]",0.0,0.000000,0.0,0.000000,-0.179407,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-03-02
1,1,"[21, 9, 57, 51]","[0.517574, 0.32643, 0.086608, 0.069388]",0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-09-08
2,2,"[3, 10, 28]","[0.782621, 0.139372, 0.078007]",0.0,0.000000,0.0,0.767595,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-11
3,3,"[16, 13, 42, 1, 57]","[0.316416, 0.26513400000000004, 0.201127, 0.12...",0.0,-0.079249,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-07-12
4,4,"[5, 4]","[0.697176, 0.302824]",0.0,0.000000,0.0,0.000000,0.226179,0.520721,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-05-21

In [263]:
#remove superfluous columns
dt1 = dt1.drop('proportion', axis=1)
dt1 = dt1.drop('topic',axis=1)
dt1 = dt1.drop('docname', axis=1)
dt1.head()

,docname,topic,0,1,2,3,4,5,6,7,...,91,92,93,94,95,96,97,98,99,date
0,0,"[20, 21, 4, 27]",0.0,0.000000,0.0,0.000000,-0.179407,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-03-02
1,1,"[21, 9, 57, 51]",0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-09-08
2,2,"[3, 10, 28]",0.0,0.000000,0.0,0.767595,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-11
3,3,"[16, 13, 42, 1, 57]",0.0,-0.079249,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-07-12
4,4,"[5, 4]",0.0,0.000000,0.0,0.000000,0.226179,0.520721,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-05-21

In [266]:
#group by day
dt2 = dt1.groupby('date', as_index=False).agg(lambda x: sum(x))

In [270]:
dt2.size

131603

In [268]:
#save csv
dt2.to_csv('./textsent.csv')